/*color scheme

darkest #0C7C59
lightest #DCEAB2
nav #E0CA3C
light blue #BEE6CE
teal #75DBCD


*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #DCE2AA;
}

h1, h2, h3, h4 {
    font-family: 'Arvo', serif;
}

.row {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
}

.list-group-item {
    padding: 15px;
    background-color: #ACFCD9;
    border-radius: 5px;
}

.parent-list {
    background-color: #55D6BE;
    border-color: #0C7D7F;
    margin: 3px;
}

.child-list {
    border-color: #0C7D7F;
    width: 93%;
    margin: 5px;
}

.admin-list {
    margin: 5px;
    border-color: #0C7D7F;
/*    width: 93%;*/
}

#user-visit-list {
    width: 85%;
}

.user-view {
    width: 95%;
}

.admin-view {
    width: 75%;
}

.navbar {
    background-color: #FED766;
    color: white;
}

.navbar-default {
    font-family: 'Arvo', serif;
    color: white;
}

.nav-link {
    color: white;
}

.btn-primary {
    background-color: #0F8B8D;
}

.btn-primary:hover {
    background-color: #109EA0;
}

.btn-primary:visited {
    background-color: #0F8B8D;
}

.res-btn {
    margin: 3px;
    margin-left: 10px;
}

.info-block {
    background-color: #ACFCD9;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: gray;
}

.alert-info {
    padding-left: 25px;
}

#welcome {
    color: white;
    padding: 15px;
    background-color: #096466;
    border-radius: 5px;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 5px;
}

#user-login {
    padding: 15px;
    background-color: #BBD8B3;
    border-radius: 5px;
    width: 50%;
}

#myCarousel img{
    display: block;
    margin: auto;
}
