<!doctype html>
<html>
    <head>
      <title>The RLP</title>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans" rel="stylesheet">
      <link href="/static/styles.css" rel="stylesheet">
    </head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">


      <ul class="nav navbar-nav">
        {% if session %}
            {% if session['type'] == 1 %}
            <li class="nav-link"><a href="/library">Admin Home</a></li>
            {% else %}
            <li class="nav-link"><a href="/user">Home</a></li>
            {% endif %}

            <li class="nav-link"><a href="/library_events">Appointments</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-link"><a href="/log-out">Log Out</a></li>
        </ul>

        {% endif %}

    </div><!-- /.container-fluid -->
  </div><!-- /.navbar navbar-default -->
</nav>

    {% for flash in get_flashed_messages() %}
      <div>{{ flash }}</div>
    {% endfor %}
      {% block content %} put your content here {% endblock %}

    </body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="/static/library-functions.js"></script>
</html>