{% extends 'base.html' %}


{% block content %}


    <h1>Welcome</h1>



    <div>
        <h3>Today's Visitors</h3>
        <!-- Uses displayCurrentVisitors and getCurrentVisitors in JS -->
        <button id="display-visits" class="btn btn-primary">Current Visitors</button> 

        <div id="msg-bad"></div>


        <div>
            <ul id="current-visitors"></ul>
        </div>
    </div>
    <div>
        <!-- Create a Visit -->
        <h3>Patron Search</h3>
        <form id="user-search" action="/find-users" method="GET">
            <!-- Sends form data as GET -->
            <!-- Uses showUserResults and displayuserResults in JS -->
            <div class="form-group">
                Search by:
                <!-- Queries 'users' table in DB -->
                <br>Email:<input id="search-email" class="form-control" type="text" name="email" placeholder="email">
                <br>First Name:<input id="search-fname"class="form-control" type="text" name="fname" placeholder="first name">
                <br>Last Name:<input id="search-lname"class="form-control" type="text" name="lname" placeholder="last name">
            </div>
                <button class="btn btn-primary" type="submit">Search Users</button>   
        </form>
    </div>

        <div>
            <ul id="result-user-list"></ul>
        </div>

    <div>
        <h3>Book Search</h3>
        <form id="book-search" action="/find-books", method="GET">
            <div class="form-group">
                Search for:
                <br>Title<input id="search-title" class="form-control" type="text" name="title" placeholder="title">
                <br>Author<input id="search-author" class="form-control" type="text" name="author" placeholder="author">
                <br>Call Number<input id="search-callnum" class="form-control" type="text" name='call-number' placeholder="call number">
                <br><button class="btn btn-primary" type="submit">Search Books</button>

            </div>
        </form>
    </div>

        <div>
            <ul id="result-book-list"></ul>
        </div>

    <hr>
    <h1>Need to Work on These</h1>

    <div id="user-login">
        <h3>Please sign in</h3>
        <!-- for now, library signs in here too -->
        <form id="log-in" action="/" method="POST">
            <br>Email:<input type="email" name="email" required>
            <br>Password:<input type="password" name="password" required>

            <br><button class="btn btn-primary" type="submit">Sign In</button>

        </form>
    </div>

    <div id="user-register">
        <h4>If you do not have a sign in, please register here</h4>
        <form id="register" method="GET" action="/">
            First Name :<input type="text" name="fname" required>
            <br>Last Name :<input type="text" name="lname" required>
            <br>Email<input type="email" name="email" required>

            <br><input type="submit" value="Register">
        </form>

    </div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/library-functions.js"></script>
{% endblock %}