{% extends 'base.html' %}


{% block content %}

    <div id="user-login">
        <h3>Please sign in</h3>
        <!-- for now, library signs in here too -->
        <form id="log-in" action="/" method="POST">
            <br>Email:<input type="email" name="email" required>
            <br>Password:<input type="password" name="password" required>

            <br><button class="btn btn-primary" type="submit">Sign In</button>

        </form>
    </div>

    <div id="user-register">
        <h4>If you do not have a sign in, please register here</h4>
        <form id="register" method="GET" action="/">
            First Name :<input type="text" name="fname" required>
            <br>Last Name :<input type="text" name="lname" required>
            <br>Email<input type="email" name="email" required>

            <br><input type="submit" value="Register">
        </form>

    </div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/library-functions.js"></script>
{% endblock %}