{% extends 'base.html' %}


{% block content %}

    <hr>
        <form action="/log-out" method="GET">
            <input type="hidden" name="logout">
            <input type="submit" value="Log Out">
        </form>

    <hr>

    <h1>Event Calendar</h1>

    {% if user == 'ADMIN' %}

    <h3>See this? [test admin view]</h3>

        <p>Appt requests from Patrons</p>

        <button id="display-appts" class="btn btn-primary">Open Appointment Requests</button> 

        <div id="msg-bad"></div>

        <div>
            <ul id="appt-requests"> </ul>
        </div>
    
    {% else %}

    <h2>You see this [test user view]</h2>

    {% endif %}



    <hr>
    {% if user == 'USER' %}
    <div>

        {% if events %}
            
            <div id="appt-block">
                <form id="appt-selection-list" action="/appointment" method="POST">
                    <h3 id="remove-me">Available Appointment Times:</h3>
                    <div class="form-group">
                {% for event in events %}

                    <input type="radio" name='appt' value="{{ event['htmlLink'] }}">
                    {{ event['title']}}
                    <br>Start: {{ event['start']}}
                    <br>End: {{ event['end']}}<br>

                {% endfor %}
                    </div>
                <button class="btn btn-primary" type="submit">Request Appointment</button>                 
                </form>
            </div>

        {% else %}

            <h4>No appointments available</h4>

        {% endif %}
    </div>
    {% else %}

    <div id="new-event">
        <h3>Create New Appointment</h3>
        <form id="new_appt" action="/create-event" method="GET">
            <div class="form-group">
                <br>Appointment Name:<input id="add-title" class="form-control" type="text" name="title" required>
                <br>Date:<input id="add-date"class="form-control" type="date" name="date" required>
                <br>Time(HH:MM AM/PM):<input id="add-time"class="form-control" type="time" name="time" required>
        appt        <input type="submit" value="Submit">
    </div>

    {% endif %}
    <hr>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/library-functions.js"></script>
{% endblock %}