{% extends 'base.html' %}


{% block content %}

    <h1>Library Check In</h1>

    <!-- Display the current date & time -->
    <br>Today's Date:


    <div>
        <!-- Create a Visit -->
        <h3>Patron Check In</h3>
        <form id="user-search" action="/search-users" method='GET'>
            <!-- Sends form data as GET -->
            
            <div class="form-group">
                Search by:
                <!-- Queries 'users' table -->
                <br>Email:<input id="search-email" class="form-control" type="text" name="email" placeholder="email">
                <br>First Name:<input id="search-fname"class="form-control" type="text" name="fname" placeholder="first name">
                <br>Last Name:<input id="search-lname"class="form-control" type="text" name="lname" placeholder="last name">
            </div>
            <div class="form-group">
                <input id="check-in-patron" class="btn btn-primary" type="submit" value="search for patron">
            </div>
        </form>

        <div id="result-user-list"></div>
    </div>

<!--     <div>
        <h3>Today's Patrons</h3>
        <br>Patron1 
        <br>Patron2 
        <br>Patron3 
            <button class="btn btn-primary"></button>
            <button class="btn btn-primary"></button>
            <button class="btn btn-primary"></button>
        <br> ...new patrons...
            <button id="add-patron-visit" class="btn btn-primary">Add Patron to List</button>
    </div>


    <div>
        <h3>Add Book</h3>
        <br>Patron Name
        <br>Search for:
        <br>Title
        <br>Author
        <br>Call Number
        <br>Keyword
            <button id="add-book" class="btn btn-primary">Add Book</button>
    </div>

    <div>
        <h3>Return Book</h3>
        <br>Patron Name
        <br>Book1 
        <br>Book2 
        <br>Book3 
            <button id="return-book" class="btn btn-primary">Return Book</button>
    </div>

    <div>
        <h3>Patron Check Out</h3>
        <br>Patron Name
        <br>"All books returned"
            <button id="check-out-patron" class="btn btn-primary">Check Out Patron</button>
        <br>"Books still outstanding"
            <button class="btn btn-primary"></button>
    </div>
 -->


{% endblock %}