{% extends 'base.html' %}


{% block content %}

    <hr>
        <form action="/log-out" method="GET">
            <input type="hidden" name="logout">
            <input type="submit" value="Log Out">
        </form>

    <hr>

    <h1>Event Calendar</h1>

<!--     <div id="new-event">
        <h3>Create New Appointment</h3>
        <form id="new_appt" action="/create-event" method="GET">
            <div class="form-group">
                <br>Date:<input id="add-date"class="form-control" type="date" name="date" required>
                <br>Time(HH:MM AM/PM):<input id="add-time"class="form-control" type="time" name="time" required>
                <input type="submit" value="Submit">
    </div> -->

    <hr>
    <div>
        <h3>Test display events</h3>

        {% if events %}
            Available Events:
            <div>
                <ul>
                {% for event in events %}
                    <li value="{{ event['event_id'] }}">{{ event['title']}}
                    <br>Start: {{ event['start']}}
                    <br>End: {{ event['end']}}
                    <br>Link: {{ event['htmlLink']}}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% else %}

            <h4>No events available</h4>

        {% endif %}
    </div>

    <hr>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/library-functions.js"></script>
{% endblock %}