{% extends 'base.html' %}


{% block content %}

    <div class="container-fluid admin-view">
        <hr>
        <div class="page-header">
            <h1>Library Admin Dashboard</h1>
        </div>
        <div class="row admin-view"> <!-- Display visitors currently checked in -->
            <h3>Today's Visitors</h3>
            <!-- Uses displayCurrentVisitors and getCurrentVisitors in JS -->
            <button id="display-visits" class="btn btn-primary">Current Visitors</button> 

            <strong><div id="msg-bad"></div></strong>

            <div>
                <ul id="current-visitors" class="list-group"></ul>
            </div>
        </div>
    </div>

    <div class="container-fluid admin-view">
        <div class="row">
            <!-- Create a Visit -->
        <h3>Visitor Check-In</h3>
        <form id="user-search" action="/find-users" method="GET">
            <!-- Sends form data as GET -->
            <!-- Uses showUserResults and displayuserResults in JS -->
            <div class="form-group">
                <b>Search by:</b>
                <br>
                <br>
                <!-- Queries 'users' table in DB -->
                <label>Email:</label><input id="search-email" class="form-control" type="text" name="email" placeholder="email"><br>
                <label>First Name:</label><input id="search-fname"class="form-control" type="text" name="fname" placeholder="first name"><br>
                <label>Last Name</label><input id="search-lname"class="form-control" type="text" name="lname" placeholder="last name">
            </div>
                <button class="btn btn-primary" type="submit">Search Users</button>
        </form>
        </div> <!-- row -->

        <div id='visit-msg'></div>
            <ul id="result-user-list" class="list-group"></ul>
    </div> <!-- container-fluid -->


    <hr>
    <div class="container-fluid admin-view">

        <div id="new-user" class="row">
            <h3>Register New User</h3>
            <form id="add-user" action="/add-user" method="POST">
                <!-- Sends form data as POST -->
                <!-- Uses showUserResults and displayuserResults in JS -->
                <div class="form-group">
                    <!-- Queries 'users' table in DB -->
                   <label>First Name:</label><input id="add-fname"class="form-control" type="text" name="fname" placeholder="first name" required><br>
                    <label>Last Name</label><input id="add-lname"class="form-control" type="text" name="lname" placeholder="last name" required><br>
                    <label>Email:</label><input id="add-email" class="form-control" type="email" name="email" placeholder="email" required><br>
                    <label>User Type:</label>
                    <select name="type">
                        <option value='user'>User</option>
                        <option value='admin'>Admin</option>
                    </select>
                </div>
                    <button class="btn btn-primary" type="submit">Add User</button>   
            </form>
        </div>

        <div id='register-msg'></div>
    </div>
    <hr>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/library-functions.js"></script>
{% endblock %}