{% extends 'base.html' %}


{% block content %}

        {% if visit %}
        <div>
            <h2>Return Books for: {{ visit.user.fname }} {{ visit.user.lname}}
        </div>

        {% endif%}

        {% if visit_items %}
        <div>
            <h3>Books Outstanding</h3>
        </div>

            <div>
                <h3 id="message"></h3>
            </div>

            <div>
                <ul id="result-book-list"></ul>
            </div>




        {% else %}

        <div>
            <h3>This user has no outstanding books</h3>
        </div>

        {% endif%}

        <span id="visit-id">{{ visit.visit_id }}</span>
        
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/library-functions.js"></script>
<script>

    $('span').hide();

    getOutstandingBooks();

</script>
{% endblock %}