{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-6 col-md-4"><button id="home" class="btn btn-primary">Back to Home</button></div>
    </div>
</div>
    <hr>

        {% if visit %}
        <div class="container-fluid admin-view">
            <h2>Return Books for: {{ visit.user.fname }} {{ visit.user.lname}}</h2>

            <div class="row">

        {% endif%}

        {% if visit_items %}

            <div>
                <h3 id="message"></h3>
            </div>

            <div>
                <h3>Outstanding Books</h3>
                <ul id="outstanding-books"></ul>
            </div>

                    </div>
                    </div>

        {% else %}

        <div>
            <h3>This user has no outstanding books</h3>
        </div>

        {% endif%}

        <span id="visit-id">{{ visit.visit_id }}</span>
        
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/library-functions.js"></script>
<script>

    $('span').hide();

    getOutstandingBooks();

</script>
{% endblock %}