{% extends 'base.html' %}


{% block content %}
<div class="container-fluid user-view">

    <div class="row">

        <h1>{{ user.fname }} {{ user.lname }} </h1>

            <p>User ID: {{ user.user_id }}
            <br>Doing research since {{ user.create_date|formatDatetime(format='%m-%d-%Y') }}</p>

    </div>

    {% if visits %}
    <div id="user-visit-list" class="row">
        <h3>Past Visits to the RLP</h3>
        <ul class="list-group">
        {% for visit in visits %}
            <li class="list-group-item parent-list"><b>Visited {{ visit.visit_timein|formatDatetime }} </b>
                {% if visit.visit_item %}
<!--                     <br>Books Used: -->
            </li>
                    <ul>
                        <li class="list-group-item child-list"><b>Books Used:</b></li>
                        {% for item in visit.visit_item %}
                        <li class="list-group-item child-list"><b>{{ item.book.title}}</b>
                            <br>{{ item.book.author}}
                            <br>{{ item.book.call_num}}
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p><b>You checked out nothin'</b> (which is a little weird)</p>
                {% endif%}
        {% endfor %}
        </ul> 
    </div>
    {% endif%}

</div> <!-- container-fluid -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/library-functions.js"></script>
{% endblock %}