{% extends 'base.html' %}


{% block content %}

    <hr>
        <form action="/log-out" method="GET">
            <input type="hidden" name="logout">
            <input type="submit" value="Log Out">
        </form>

    <hr>

 <h1>User</h1>

    <p>To be determined</p>
    <p>Show user details</p>
    <br>Show past visit history (by newest to oldest)
    <br>Be able to view books looked at
    <br>Pre-checkin? --> allow to precheck in on a certain date
    <br>--> dropdown menu of upcoming dates?
    <br>Change password
    <br>Change email??


<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/library-functions.js"></script>
{% endblock %}