{% extends 'base.html' %}


{% block content %}

    <hr>
        <form action="/log-out" method="GET">
            <input type="hidden" name="logout">
            <input type="submit" value="Log Out">
        </form>

    <hr>

 <h1>{{ user.fname }} {{ user.lname }} </h1>

    <p>User ID: {{ user.user_id }}
        <br>Patron since {{ user.create_date|formatDatetime(format='%m-%d-%Y') }}</p>
    <!--
    <br>Pre-checkin? allow to precheck in on a certain date
    <br>dropdown menu of upcoming dates? -->

    {% if visits %}
        <h3>Past Visits</h3>
        <ul>
        {% for visit in visits %}
            <li>Visited {{ visit.visit_timein|formatDatetime }} </li>
                {% if visit.visit_item %}
                    <b>Books Used</b>
                    <ul>
                        {% for item in visit.visit_item %}
                        <li><b>{{ item.book.title}}</b>
                            <br>{{ item.book.author}}
                            <br>{{ item.book.call_num}}
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <b>No books checked out</b>
                {% endif%}
        {% endfor %}
        </ul>
    {% endif%}


<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/library-functions.js"></script>
{% endblock %}